<h1>Find By Artist</h1>
<% @artists.each do |artist| %>
<%= link_to artist.name, artist_path(artist.id) %>
<% end %>

<h1>Find By Museum</h1>
<% @museums.each do |museum| %>
<%= link_to museum.name, museum_path(museum.id) %>
<% end %>

